<div ng-controller='StreamMetadataController'>
	<div class="panel panel-primary">
		<accordion-heading>
			<h3><span translate>CONSOLE_STREAM_LIST_TITLE</span></h3>
		</accordion-heading> 
		<div class="panel-body">
			<div class=row'>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class='clearfix  content-toolbar'>	
						<div class="pull-right">
							<form class="form-inline" role="form">
								<div class="form-group">
									<input type="text" class="form-control col-xs-2" ng-model="codeFilter" placeholder="{{'STREAM_LIST_CODE_FILTER'|translate}}" />
								</div>
							</form>
						</div>
					</div>
					<div class="table-responsive console-streamList-table">
						<table class="table">
							<thead>
								<tr>
									<th>
										<a href="" ng-click="predicate = 'streamCode'; reverse=!reverse">
											<span translate>STREAM</span> 
											<span ng-show="predicate=='streamCode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
											<span ng-show="predicate=='streamCode' && reverse" class="glyphicon glyphicon-chevron-down small"></span>
										</a>
									</th>
									<th>
										<a href="" ng-click="predicate = 'streams.stream.virtualEntityCode'; reverse=!reverse">
											<span translate>SMARTOBJECT</span> 
											<span ng-show="predicate=='streams.stream.virtualEntityCode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
											<span ng-show="predicate=='streams.stream.virtualEntityCode' && reverse" class="glyphicon glyphicon-chevron-down small"></span>
										</a>
									</th>
									<th>
										<a href="" ng-click="predicate = 'streams.stream.deploymentVersion'; reverse=!reverse">
											<span translate>STREAM_VERSION</span> 
											<span ng-show="predicate=='streams.stream.deploymentVersion' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
											<span ng-show="predicate=='streams.stream.deploymentVersion' && reverse" class="glyphicon glyphicon-chevron-down small"></span>
										</a>
									</th>
									<th>
										<a href="" ng-click="predicate = 'deploymentStatusCode'; reverse=!reverse">
											<span translate>STREAM_CONFIG_LASTUPDATE</span> 
											<span ng-show="predicate=='deploymentStatusCode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
											<span ng-show="predicate=='deploymentStatusCode' && reverse" class="glyphicon glyphicon-chevron-down small"></span>
										</a>
									</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="showLoading">
									<td colspan='5' >
										<div class='ajax-loading-container'>
											<span class='ajax-loading-big'></span>
											<h4>Loading...</h4>
										</div>
									</td>
								</tr>
								
								<tr  class='{{stream.rowStyle}}' ng-repeat-start="stream in filteredStreamsList = (streamMetadataList	 | filter: searchCodeFilter |  orderBy:predicate:reverse )|startFrom:(currentPage-1)*pageSize | limitTo:pageSize  ">
									<td class='text-left'>
										<a href ng-click="stream.showDetail = !stream.showDetail">
											<img ng-src="{{stream.streamIcon}}" alt="logo stream" class='list-entity-icon-preview-img' >
											<strong>{{stream.streamCode}}</strong> - {{stream.streamName}}
										</a>
									</td>
									<td><small>{{stream.streams.stream.virtualEntityCode}}</small></td>
									<td>{{stream.streams.stream.deploymentVersion}}</td>
									<td class='text-left'>{{stream.lastUpdateTimestamp|date}}</td>
									<td>
										<i ng-click='stream.showDetail = true' ng-show='!stream.showDetail' class="glyphicon  glyphicon-chevron-right"></i>
										<i ng-click='stream.showDetail = false' ng-show='stream.showDetail' class="glyphicon glyphicon-chevron-down"></i>
									</td>
								</tr>
								<tr  class='{{stream.rowStyle}}'  ng-repeat-end  ng-show='stream.showDetail' class=''>
									<td colspan='2' class='table-td-no-border-top' >	
										<div class='components-panel'>
											<h4><span translate>COMPONENTS</span></h4>
											<table class='table table-condensed'>
												<thead>
													<tr class='{{stream.rowStyle}}'>
														<th translate>STREAM_COMPONENT_NAME</th>
														<th translate>STREAM_COMPONENT_ALIAS</th>
														<th translate>STREAM_COMPONENT_TOLERANCE</th>
														<th translate>STREAM_COMPONENT_MEASUREUNIT</th>
														<th translate>STREAM_COMPONENT_PHENOMENON</th>
														<th translate>STREAM_COMPONENT_DATATYPE</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat='component in stream.streams.stream.components.element' class='{{stream.rowStyle}}'>
														<td>{{component.componentName}}</td>
														<td>{{component.componentAlias}}</td>
														<td>{{component.tolerance}}</td>
														<td>{{component.measureUnitCategory}} - {{component.measureUnit}}</td>
														<td>{{component.phenomenonCategory}} - {{component.phenomenon}}</td>
														<td>{{component.dataType}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>			
									<td colspan='3' class='table-td-no-border-top'>	
										<div>
											<h4><span translate>STREAM_MESSAGE_EXAMPLE_TITLE</span></h4>
											<p>
												<small><pre pretty-json="stream.exampleMessage"/></small>
											</p>
										</div>
									</td>													
								</tr>
							</tbody>
						</table>
						<pagination boundary-links="true" total-items="filteredStreamsList.length" ng-model="currentPage" ng-change="selectPage()" class="pagination-sm" previous-text="&lsaquo;"
							next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
						></pagination>
		
		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>