<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/integration
  http://www.springframework.org/schema/integration/spring-integration.xsd
  http://www.springframework.org/schema/integration/jdbc
  http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
  http://www.springframework.org/schema/util
  http://www.springframework.org/schema/util/spring-util.xsd">

<!-- message store outbound channels -->
<int:logging-channel-adapter channel="toInsertChannel" log-full-message="true" logger-name="toInsertChannel"></int:logging-channel-adapter>  
<int:logging-channel-adapter channel="toAddAttemptChannel" log-full-message="true" logger-name="toAddAttemptChannel"></int:logging-channel-adapter>  
<int:logging-channel-adapter channel="toUpdateAttemptChannel" log-full-message="true" logger-name="toUpdateAttemptChannel"></int:logging-channel-adapter>


<int:logging-channel-adapter channel="outputYuccaRTChannel" log-full-message="true" logger-name="outputYuccaRTChannel"></int:logging-channel-adapter>

</beans:beans>