<div ng-cloak>
	<div class="top-header">
		<div class="container ">
			<div class='row'>
				<div class='col-sm-10'>
					<a class="navbar-brand logo" href="http://www.smartdatanet.it"><img
						src="img/logosdp_header.png" alt="logo" class='top-header-logo' />
					</a>
					<h1>Yucca Light&nbsp;&nbsp; <small>Yucca Portable Gateway</small></h1>
				</div>
				<div class='col-sm-2'>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" ng-click="changeLanguage('it')"
							title="{{'MENU_LANG_IT'|translate}}"
							class="menu-flag-icon menu-flag-icon-it"></a></li>
						<li><a href="#" ng-click="changeLanguage('en')"
							title="{{'MENU_LANG_EN'|translate}}"
							class="menu-flag-icon menu-flag-icon-en"></a></li>
						<li><p class="navbar-text">&nbsp;</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

